@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);





// ---------- GLOBAL VARIABLES ---------- //

$primary-color:   #6fc818;
$secondary-color: #5cb109;
$tertiary-color:  #ffaa45;





// ---------- HEADER ---------- //

.header {
  border-top: 10px solid $primary-color;
  padding-top: 4em;
}

.header__row:last-of-type {
    border-bottom: 1px solid #ccc;
    margin-bottom: 3em;
}

.header__nav-item {
  &:first-child {
    .header__nav-link:before {
      content: '';
    }
  }
}

.header__nav-link {
  color: #333;
  font-size: 0.7em;
  font-weight: bold;
  &:before {
    content: '\2022'; // content: '•';
    color: inherit;
    position: relative;
    left: -0.6em;
  }
}

.header__nav-link:hover,
.header__nav-link--active {
  @extend %primary-color;
}

.logo {
  max-width: 200px;
}









// ---------- MAIN CONTENT ---------- //

.main-content__heading {
  padding-bottom: 1em;
  font-size: 2em;
  font-weight: normal;
}

.main-content__body {
  padding-bottom: 1.2em;
  font-size: 1.3rem;
}

.main-content--max-width {
  max-width: 39.375em;
}









// ---------- FAQ ACCORDION ---------- //

#faq {
  padding-top: 1.5em;
  padding-bottom: 2.75em;
}

.faq__item {
  padding-bottom: 0.6em;
  &.active {
    .faq__heading:after {
      background: $primary-color url(../img/minus.svg) center center no-repeat;
    }
  }
}

.faq__heading {
  padding: 0 0.25em;
  font-size: 1.9em;
  line-height: 1.2;
  color: $tertiary-color;
  &:after {
    content: '';
    display: inline-block;
    float: right;
    width: 29px;
    height: 29px;
    border-radius: 29px;
    box-shadow: 0 3px 0 $secondary-color;
    background: $primary-color url(../img/plus.svg) center center no-repeat;
  }
}

.faq__body.active {
  font-size: 0.8em;
  line-height: 1.4;
  padding: 1em;
  border: 2px solid #e8e8e8;
}










// ---------- SIDEBAR ---------- //

.sidebar {
  max-width: 300px;
  border: 0.2em solid $primary-color;
  border-radius: 1em;
}

.sidebar__heading {
  display: block;
  width: 100%;
  background: $primary-color;
  text-align: center;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 2.4em;
  color: white;
  border-radius: 0.5em 0.5em 0 0;
}

.sidebar__nav-list {
  margin: 0;
  padding: 0.8em 1em 1em;
  font-size: 1.1em;
}

.sidebar__nav-link {
  border-bottom: 3px solid $primary-color;
}

.sidebar__nav-link,
.sidebar__nav-link:hover {
  @extend %primary-color;
}

.sidebar__nav-body {
    padding-bottom: 1.2em;
    &:last-of-type {
      padding-bottom: 0.4em;
    }
}












// ---------- FOOTER ---------- //

.footer {
  margin-top: 7em;
  padding-top: 1.6em;
  background: #e8e8e8;
  height: 13em;
  font-size: 1.4rem;
  line-height: 1.3em;
}

.footer__row {
  padding-bottom: 1.8em;
  &:last-of-type {
    padding-bottom: 0;
  }
}

.footer__link {
  padding-bottom: 0.3em;
  border-bottom: 3px solid $primary-color;
}

.footer__link,
.footer__link:hover {
  @extend %primary-color;
}










// ---------- GLOBAL STYLES ---------- //

%primary-color {
  color: $primary-color;
}
